MONGO_URI=mongodb://swamidularam_db_user:kMOFwgmxBedVnduk@ac-xtfqqsn-shard-00-00.fb9y8wf.mongodb.net:27017,ac-xtfqqsn-shard-00-01.fb9y8wf.mongodb.net:27017,ac-xtfqqsn-shard-00-02.fb9y8wf.mongodb.net:27017/?ssl=true&replicaSet=atlas-3bkdxj-shard-0&authSource=admin&appName=Cluster0
PORT=3000